.page_warpper {
  min-height: 100vh;
  background-color: #f9f9f9;

  .header_warper {
    background-color: #323238ed;
    .header_menu_warper {
      max-width: 1000px;
      margin: 0px auto;
      .header {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo_warper {
          .logo_img {
            height: 32px;
          }
        }
        .login_warper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .input {
            width: 148px;
            background-color: unset;
            color: white;
            &.search {
              margin-right: 16px;
              border-radius: 14px;
              :global(.ant-input-group-addon),
              :global(.ant-input-search-button) {
                background-color: unset;
              }
            }
            :global(.ant-input) {
              background-color: unset;
              color: white;
            }
            :global(.anticon) {
              color: white;
            }
          }
        }
      }
      .menu_warper {
        background-color: unset;
      }
    }
  }
  .body_warper {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;

    .todo_action {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .todo_list {
      padding-top: 12px;
      .todo_item {
        width: 100%;
        margin: 8px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .todo_item_title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-right: 8px;
          &:hover {
            color: black;
          }
        }
        .todo_item_other {
          display: flex;
          align-items: center;
          color: #b6b6b6;
          word-break: keep-all;
          font-size: 12px;
        }
      }
    }

    // .hexagon {
    //   .hexagon_child {
    //     .hexagon_child_child {

    //     }
    //   }
    // }

    .service_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      &:hover {
        background-color: #e9e9e9;
      }
    }

    .avatar_warper {
      display: flex;
      gap: 16px;
      margin-bottom: 24px;
      ._avatar_info {
        :global(.ant-typography) {
          font-size: 22px;
          margin-bottom: 12px;
        }
      }
    }

    .timeLine_item {
      font-size: 12px;
      .time {
        color: #b6b6b6;
        margin-bottom: 8px;
      }
      .content {
        background-color: #f9f9f9;
        border: 1px solid #f0f0f0;
        border-radius: 4px;
        padding: 8px;
      }
    }
  }

  .footer {
    padding: 24px 0px;
    text-align: center;
    .links {
      margin-bottom: 8px;
      font-size: 14px;
      a {
        color: rgba(0, 0, 0, 0.45);
        transition: all 0.3s;
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
    .copyright {
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
    }
  }

  .arrow_icon {
    color: #dc313a;
    margin-right: 8px;
  }
}
