.page_warpper {
  min-height: 100vh;
  background-color: #f9f9f9;

  .header_warper {
    background-color: #323238ed;
    .header_menu_warper {
      max-width: 1000px;
      margin: 0px auto;
      .header {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo_warper {
          .logo_img {
            height: 64px;
          }
        }
        .login_warper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .input {
            width: 148px;
            background-color: unset;
            color: white;
            &.search {
              margin-right: 16px;
              border-radius: 14px;
              :global(.ant-input-group-addon),
              :global(.ant-input-search-button) {
                background-color: unset;
              }
            }
            :global(.ant-input) {
              background-color: unset;
              color: white;
            }
            :global(.anticon) {
              color: white;
            }
          }
        }
      }
      .menu_warper {
        background-color: unset;
      }
    }
  }

  .body_warper {
    .banner_img {
      height: 370px;
      padding: 46px 0;
      background-image: url('../../assets/banner.jpg');
      background-repeat: repeat-x;
      background-position: center center;
      background-size: contain;
    }
    .body {
      max-width: 1000px;
      margin: -46px auto 0;
      .first_body_content {
        background-color: white;
        margin-bottom: 12px;
        padding: 24px;
        .meeting_img {
          width: 100%;
          height: 100%;
        }
      }

      .color_card_warper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
      }

      .honors_warper {
        display: flex;
        align-items: center;
        gap: 12px;
        overflow: hidden;
        padding-bottom: 12px;
      }
    }
  }
}

// 颜色卡片组件
.color_card_item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-radius: 16px;
  color: white;
  padding: 16px 0;
  width: 100%;
  height: 100%;
  .color_card_title {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 14px;
  }
  .color_card_action {
    text-align: right;
    padding: 0 24px;
    font-size: 12px;
  }
}
